@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="text-center">
        <h1 class="display-1">Bienvenidos a Social.NetWork</h1>
        <p class="fs-3">Red Social de Tema Libre</p>
    </div>
</div>