@{
    ViewData["Title"] = "Listar Usuarios";
}

<div class="card-header bg-secondary text-white">
    <h2 class="mb-0">Listado de Usuarios</h2>
</div>

@if (ViewBag.Usuarios.Count == 0)
{
    <div class="mt-5">Lista Vacia</div>
}

@if (ViewBag.Usuarios.Count > 0)
{
    @for (int i = 0; i < ViewBag.Usuarios.Count; i++)
    {
        <div class ="container mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Fecha de Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@ViewBag.Usuarios[i].Nombre</td>
                        <td>@ViewBag.Usuarios[i].Apellido</td>
                        <td>@ViewBag.Usuarios[i].FechaNac</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
}