@{
    ViewData["Title"] = "Ver Posts";
}

<div class="card-header bg-secondary text-white">
    <h2 class="mb-0">Lista de Posts</h2>
</div>

@if (ViewBag.Posts.Count == 0)
{
    <div class="mt-5">No Hay Ningun Post Disponible para Mostrar</div>
}

@if (ViewBag.Posts.Count > 0)
{
    @for (int i = 0; i < ViewBag.Posts.Count; i++)
    {
        <div class="container mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Texto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@ViewBag.Posts[i].Id</td>
                        <td>@ViewBag.Posts[i].Titulo</td>
                        <td>@ViewBag.Posts[i].Texto</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
}